<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="univ.sm">

    <application
        android:name=".View.question.GlobalApplication"
        android:icon="@drawable/icon_blue"
        android:label="@string/app_name"
        android:theme="@style/SplashTheme"
        android:windowSoftInputMode="adjustPan"
        >

        <activity
            android:name=".View.SplashView"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

            <data
                android:scheme = "@string/kakao_scheme"
                android:host="@string/kakaolink_host">
            </data>
        <activity
            android:name=".View.detail.SchDetailView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.entry.SchEntryView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.entry.SchEntryFakeView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.detail.SchDetailFakeView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.question.InfoView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name=".View.board.login.IndirectLoginView"/>
        <activity android:name=".View.board.login.DirectLoginView"/>
        <activity android:name=".View.SettingView"/>
        <activity android:name=".View.board.BoardView"/>
        <activity android:name=".View.board.detail.BoardDetailView"/>
        <!--**********************************************************************-->
        <!-- *********************안드로이드 fabric 관련 설정 ********************-->
        <!--**********************************************************************-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7365512e57e6dbdb0494c156c3718b50c67a60db" />
        <!--**********************************************************************-->
        <!-- **********************안드로이드 gcm 관련 설정 **********************-->
        <!--**********************************************************************-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"></meta-data>
        <!--kakao talk-->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"></meta-data>

        <meta-data
            android:name="com.kakao.sdk.ClientSecret"
            android:value="lZeiCmWZOs9IgfCS9eBzV5pXVMr7spWS"/>
        <!--facebook-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <provider
            android:authorities="com.facebook.app.FacebookContentProvider121739291742659"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="shuttlebusm.univ.sm" />
            </intent-filter>
        </receiver>

        <service
            android:name="univ.sm.gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="univ.sm.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name="univ.sm.gcm.RegistrationIntentService"
            android:exported="false"></service>
        <!--**********************************************************************-->
        <!-- **********************안드로이드 gcm 관련 설정 **********************-->
        <!--**********************************************************************-->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

    <!--**********************************************************************-->
    <!-- **********************안드로이드 gcm 관련 설정 **********************-->
    <!--**********************************************************************-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <permission
        android:name="univ.sm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="univ.sm.permission.C2D_MESSAGE" />
    <!--**********************************************************************-->
    <!-- **********************안드로이드 gcm 관련 설정 **********************-->
    <!--**********************************************************************-->
</manifest>